{% load static %}
<!doctype html><html lang="en"><head><base href="/"><meta charset="utf-8"><meta name="viewport" content="width=device-width,initial-scale=1"><link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"><link rel="icon" type="image/x-icon" href="{% static 'favicon.ico' %}"><title>Tinyurl</title><link href="{% static 'styles.186143242b652b83228f.bundle.css' %}" rel="stylesheet"/></head><body><app-root></app-root>
  <script type="text/javascript" src="{% static 'inline.32ee14793f897eeb5173.bundle.js' %}"></script>
  <script type="text/javascript" src="{% static 'polyfills.d8d3d78a4deb2ab66856.bundle.js' %}"></script>
  <script type="text/javascript" src="{% static 'vendor.f3680fd147ef4215af60.bundle.js' %}"></script>
  <script type="text/javascript" src="{% static 'main.1c9606f13e7dbe220d99.bundle.js' %}"></script>
</body></html>